#===========================
# OS files
#===========================
.DS_Store
Thumbs.db

#===========================
# Editor settings
#===========================
.vscode/
.idea/

#===========================
# Log files
#===========================
*.log

#===========================
# Temporary files
#===========================
*.tmp
*.temp

#===========================
# Environment files
#===========================
.env

#===========================
# Node.js (only if you use npm later)
#===========================
node_modules/
